<!DOCTYPE html>
<html>
	<head>
		<title>Twitter</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	</head>

	<body>
		<div class="container text-center">


			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="#" class="navbar-brand">James' Twitter</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
						<ul class="nav navbar-nav">
							<li>
                <%= render 'devise/registration_items' %>
							</li>
							<li>
                  <%= render 'devise/login_items' %>
							</li>

						</ul>
					</div>
				</div>
			</nav>

			<%= image_tag "twitter-robot-bird.png", class: "img-fluid text-center"%>

			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<div class="jumbotron">

				<%= yield %>
			</div>
		</div>
	</body>
</html>
